@import 'tailwindcss';
@import './fonts.css';
@import './layout.css';

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
